/* Font Face Imports */

@font-face {
    font-family: pr-viking;
    src: url(pr-viking.ttf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(BebasNeue-Regular.ttf);
}

/* Applications of font to content */

header {
    padding-bottom: 20px;
    padding-top: 5px;
}

.heading {
    font-family: pr-viking, Franklin Gothic Medium, Arial Narrow, sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline;
    
    }

.subheading {
    font-family: pr-viking, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.body {
    font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif ;
}

.est {
    font-family: pr-viking, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;

}

/* navigation styling */

#navlist {
    
    font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif;
    text-align: center;
    list-style-type: none;
    float: right;
    display: inline;
    word-spacing: 25px;
    font-size:28px;
}

#navlist > li > a  {
    color: gray;
    text-decoration: none;
}


#navlist > li > a:hover {

    color: blue;

}


li {
    display: inline-block;

}

/* Image Element Styling */

.img {
    position: static;
    width: 100%;
    
}

/* Show Page Styling */

.show {

    vertical-align: text-top;
    text-align: center;
    display: inline-block;
    width: 32%;
    margin-left: 3px; 
    margin-right: 3px;
    overflow: none;
    height: 100%;

}

.csoon {
    text-align: center;
}

/* Main Body Styling */

#mainbody {

    vertical-align: text-top;
    text-align: center;
    display: inline-block;
    width: 32%;
    margin-left: 8px;
    margin-right: 8px;
    overflow: none;

}

/* Form Styling */

#form {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    margin-top: 25px;   
}

.inpad {
    padding-bottom: 10px;
}

/* Social elements styling */

#socials {

    font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: inline;
    font-size: 28px;
    word-spacing: 45px;
}


.timeline {
    vertical-align: text-top;
    text-align: center;
    display: inline-block;
    width: 32%;
    margin-left: 3px; 
    margin-right: 3px;
    overflow: none;
    height: 100%;
}

/* Footer Styling */

footer {
    text-align: center;
    padding-top: 10px;

}

footer > ul > li > a {
    text-decoration: none;
    color: gray;
}

footer > ul > li > a:hover {

    color: blue;
}