@font-face {
    font-family: pr-viking;
    src: url(pr-viking.ttf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(BebasNeue-Regular.ttf);
}

header {
    padding-bottom: 20px;
}

.heading {
    font-family: pr-viking, Franklin Gothic Medium, Arial Narrow, sans-serif;
    font-weight: bold;
    list-style-type: none;
    display: inline;
    }

.subheading {
    font-family: pr-viking, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.body {
    font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif ;
}

.img {
    position: static;
}

.est {
    font-family: pr-viking, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: x-large;
    position:inherit;
    right: 20%;
    top: 45%;
    outline: 1px black;

}

#navlist {
    font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif;
    text-align: center;
    list-style-type: none;
    float: right;
    display: inline;
    padding-top: 5px;
    
}

li {
    display: inline-block;
}


#shows {
    text-align: center;
    display: inline;
}


#mainbody {

    display: inline;
}

footer {
    text-align: center;
}

#socials {

    font-family: BebasNeue-Regular, Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: inline;
    padding-top: 5px;
    align-content: center;
}